/* Particular */
td {
	text-align: center;
	input {
		text-align: center; width: min-content; background-color: snow;
		&:disabled {border-color: transparent;}
	}
	select {
		background-color: snow;
		&:disabled {border-color: transparent; opacity: 1;}
	}
	*:disabled {background-color: transparent;}
}