body {
	#datosPersona {
		margin-bottom: 20px; font-size: 20px; line-height: 1;
		color: snow; background-color: green; padding: 5px 10px; border-radius: 15px;
		.espacioDer {margin-right: 5px;}
		.negrita:not(:has(em)) {font-weight: bold;}
	}
	table {
		th#titulo {text-align: left;}
		.genero {min-width: 100px; text-align: center;}
		.eliminar, .confirmar {text-align: center;}
		#agregar select {
			background-color: snow;
			&:has(option[value=""]:checked) {font-style: italic;}
			option {font-style: normal;}
		}
	}
	#sectorIconos {
		margin-top: 40px;
		.iconos i {font-size: 1.5rem;}
	}
}
